.best-product::after {
  content: '';
  display: block;
  width: 100%;
  height: 6px;

  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 57.5 23"%3E%3Cg%3E%3Cpath fill="%23E6E7E8" d="M57.5,23c-9,0-13.7-4.6-17.5-8.3C36.6,11.4,34.1,9,28.8,9s-7.8,2.4-11.2,5.7C13.7,18.4,9,23,0,23v-9 c5.4,0,7.8-2.4,11.2-5.7C15,4.6,19.7,0,28.8,0s13.7,4.6,17.5,8.3c3.4,3.3,5.9,5.7,11.2,5.7"/%3E%3C/g%3E%3C/svg%3E');
  background-position: center;
}

.best-product__wrapper {
  width: $mobile-width;
  margin: 0 auto;
}

.best-product__heading {
  margin: 0 0 25px;

  font-size: 25px;
  line-height: 1.2;
  color: black;

  &::after {
    content: "Товар недели";

    display: block;
    margin-top: 10px;

    font-size: 17px;
    color: #63d1bb;
    text-transform: uppercase;
  }
}

.best-product__descr {
  margin: 0 0 25px;
}

.best-product__descr-block {
  margin-bottom: 28px;
}

.best-product__table {
  width: 100%;

  border-collapse: collapse;

  &-data {
    padding: 10px 0;

    border-bottom: 1px solid #ececec;
  }

  &-data:first-child {
    width: 36%;
  }
}

.best-product__img-block {
  margin-bottom: 28px;
}

.best-product__price {
  display: block;
  margin: 0 0 20px;

  font-size: 17px;
  line-height: 1.4;
  font-weight: 500;
  text-align: center;
}

.best-product__button {
  margin-bottom: 35px;
}

@media (min-width: $tablet-media) {
  .best-product::after {
    height: 17px;
  }

  .best-product__wrapper {
    position: relative;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'heading heading'
      'description img'
      'order img';
    width: $tablet-width;
    margin-bottom: 50px;
  }

  .best-product__heading {
    grid-area: heading;

    max-width: 75%;
    margin-bottom: 55px;

    font-size: $tablet-heading-size;

    &::after {
      position: absolute;
      top: 10px;
      right: 25px;

      width: 100px;
      margin: 0;

      text-align: center;
    }
  }

  .best-product__descr-block {
    grid-area: description;

    padding-right: 45px;
  }

  .best-product__descr {
    font-size: 17px;
    line-height: 1.75;
  }

  .best-product__img-block {
    grid-area: img;

    margin: 0;

    line-height: 0;
  }

  .best-product__img {
    width: 100%;
  }

  .best-product__order-block {
    grid-area: order;

    display: flex;
    flex-direction: column;
    padding-right: 45px;
  }

  .best-product__price {
    margin: auto 0 30px;

    font-size: 20px;
    line-height: 1.2;
  }

  .best-product__button {
    margin: 0;
  }
}

@media (min-width: $tablet-media) {
  .best-product__wrapper {
    grid-template-columns: 2fr 3fr;
    grid-template-areas:
      'description img'
      'order img';

    width: $desktop-width;
    margin: 0 auto 70px;
    padding-left: $desktop-fragment;
  }

  .best-product__heading {
    position: absolute;
    left: $desktop-fragment;
    top: 55px;

    margin: 0;

    font-size: 53px;

    &::after {
      top: 12px;
      left: -150px;
    }
  }

  .best-product__descr-block,
  .best-product__order-block {
    padding-right: 55px;
  }

  .best-product__descr-block {
    margin-top: 155px;
  }

  .best-product__descr {
    margin-bottom: 40px;
  }
}
