.catalog__heading {
  max-width: $mobile-width;
  margin: 0 auto;
  padding: 74px 0;

  font-size: 27px;
  line-height: 1.1;
  color: $heading-text-color;
  text-align: center;
}

.catalog__heading-wrapper {
  margin-bottom: 30px;

  background-color: $heading-bg-color;
}

.catalog__catalog-list {
  margin-bottom: 30px;
}

.catalog__manufacturing {
  margin-bottom: 60px;
}