.catalog__heading {
  max-width: $mobile-width;
  margin: 0 auto;
  padding: 74px 0;

  font-size: 27px;
  line-height: 1.1;
  color: $heading-text-color;
  text-align: center;
}

.catalog__heading-wrapper {
  margin-bottom: 30px;

  background-color: $heading-bg-color;
}

.catalog__catalog-list {
  margin-bottom: 30px;
}

.catalog__manufacturing {
  margin-bottom: 60px;
}

@media (min-width: $tablet-media) {
  .catalog {
    margin-top: -46px;
  }

  .catalog__heading-wrapper {
    background-image: url(../img/icon/bg-zigzag-fill.svg);
    background-repeat: repeat-x;
    background-position: bottom center;
  }

  .catalog__heading {
    width: $tablet-width;
    max-width: none;
    padding: 95px 0;

    font-size: 43px;
  }
}

@media (min-width: $desktop-media) {
  .catalog__heading {
    font-size: 53px;
  }
}
