@media(hover: hover) and (pointer: fine) {
  .contacts__table-link:hover {
    color: $link-hover-color;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
}

.contacts__desktop-block {
  width: $mobile-width;
  margin: 0 auto 40px;
}

.contacts__heading {
  margin: 0 0 35px;

  font-size: 18px;
  line-height: 2;
  color: black;
}

.contacts__table {
  border-collapse: collapse;
  line-height: 2;

  &:first-child {
    margin-bottom: 25px;
  }

  td:first-child {
    width: 75px;

    vertical-align: baseline;
  }
}

.contacts__table-link {
  color: $main-text-color;
  text-decoration-color: $link-hover-color;

  transition: all 0.2s;

  &:focus {
    color: $link-hover-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__contact-link {
  order: 1;
  width: $mobile-width;
  margin: 0 auto;
}

.contacts__map {
  min-height: 450px;
  margin-bottom: 40px;

  background-image: url(../img/picture/map-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url(../img/picture/map-mobile@2x.jpg);
  }
}

@media (min-width: $tablet-media) {
  .contacts__heading {
    position: relative;

    margin-bottom: 50px;

    font-size: $tablet-heading-size;
    line-height: 1.2;

    &::after {
      content: '';

      position: absolute;
      top: -15px;
      right: 0;

      display: block;
      width: 47px;
      height: 82px;

      background-image: url(../img/icon/icon-flag.svg);
    }
  }

  .contacts__desktop-block {
    width: $tablet-width;
    margin-bottom: 55px;
  }

  .contacts__tables-wrapper {
    display: flex;
  }

  .contacts__table {
    width: 50%;

    font-size: 17px;
    line-height: 1.75;

    &:first-child {
      margin-bottom: 0;
    }
  }

  .contacts__map {
    margin-bottom: 55px;

    background-image: url(../img/picture/map-tablet@1x.jpg);

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url(../img/picture/map-tablet@2x.jpg);
    }
  }

  .contacts__contact-link {
    width: 230px;
  }

  .contacts__contact-button {
    padding: 13px 0;
  }
}

@media (min-width: $desktop-media) {
  .contacts {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-areas:
      '. contacts map'
      '. button map';

    width: $desktop-width;
    margin-left: auto;
    margin-right: auto;
  }

  .contacts__heading {
    margin-top: 70px;

    font-size: 53px;
    line-height: 1;

    &::after {
      right: auto;
      left: -100px;
    }
  }

  .contacts__desktop-block {
    grid-area: contacts;

    width: auto;
    margin: 0 40px 0 0;
  }

  .contacts__contact-link {
    grid-area: button;

    margin: auto 0 0;
  }

  .contacts__map {
    grid-area: map;

    margin-bottom: 0;

    background-image: url(../img/picture/map-desktop@1x.jpg);

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url(../img/picture/map-desktop@2x.jpg);
    }
  }

  .contacts__tables-wrapper {
    flex-direction: column;
  }

  .contacts__table {
    width: auto;
  }
}
