.contacts__map {
  min-height: 450px;

  background-image: url(../img/picture/map-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url(../img/picture/map-mobile@1x2x.jpg);
  }
}
