.main-nav__tablet,
.main-nav__desktop {
  display: none;
}

@media (min-width: $tablet-media) {
  .main-nav {
    position: relative;
  }

  .main-nav__tablet {
    position: absolute;
    right: 0;
    top: 109px;

    display: block;
    margin-right: 50%;

    transform: translateX($tablet-width/2);
  }

  .main-nav__descr {
    margin: 0;
  }
}

@media (min-width: $desktop-media) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
  }

  .main-nav__desktop {
    display: block;
    width: calc(67% - 50px);
    margin-left: 50px;
  }

  .main-nav__tablet {
    position: relative;
    top: auto;
    right: auto;

    display: flex;
    align-items: flex-end;
    width: calc(33% - 50px);
    margin-right: 50px;

    transform: none;
  }

  .main-nav__mobile {
    width: 100%;
  }

  .main-nav__descr {
    margin-left: auto;
  }
}
