.main__promo,
.main__best-product {
  margin-bottom: 25px;
}

.main__about-us {
  margin-bottom: 55px;
}

.main__reviews,
.main__contacts {
  margin-bottom: 40px;
}

.main__form {
  margin-bottom: 55px;
}

@media (min-width: $tablet-media) {
  .main,
  .main__form {
    margin-top: -45px;
  }

  .main__promo,
  .main__best-product,
  .main__form {
    margin-bottom: 50px;
  }

  .main__about-us {
    margin-bottom: 25px;
  }

  .main__reviews {
    margin-bottom: 60px;
  }
}

@media (min-width: $desktop-media) {
  .main {
    margin-top: -46px;
  }

  .main__promo {
    margin-bottom: 70px;
    padding-top: 46px;
  }

  .main__contacts {
    margin-bottom: 105px;
  }
}
