.main-form__headline-wrapper {
  margin-bottom: 25px;

  background-color: $heading-bg-color;
}

.main-form__headline {
  width: $mobile-width;
  padding: 70px 0 75px;
  margin: 0 auto;

  font-size: 27px;
  line-height: 1.1;
  color: $heading-text-color;
}

.main-form__description {
  width: $mobile-width;
  margin: 0 auto 25px;

  font-size: 13px;
  line-height: 1.85;
}

.main-form__form {
  width: $mobile-width;
  margin: 0 auto;
}

@media (min-width: $tablet-media) {
  .main-form__headline {
    width: $tablet-width;
    padding: 95px 0;

    font-size: 43px;
    line-height: 1.16;
    text-align: center;
  }

  .main-form__headline-wrapper {
    background-image: url(../img/icon/bg-zigzag-fill.svg);
    background-repeat: repeat-x;
    background-position: bottom center;
  }

  .main-form__description {
    width: $tablet-width;
    margin: 55px auto;

    font-size: 17px;
    line-height: 1.76;
  }

  .main-form__form {
    width: $tablet-width;
  }
}
