.promo {
  display: flex;
  flex-direction: column;

  background-color: $promo-background;
  background-image: url(../img/picture/hero-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 575px auto;


  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url(../img/picture/hero-mobile@2x.jpg);
  }
}

.promo__head {
  width: $mobile-width;
  margin: 75px auto 120px;
}

.promo__head-text {
  margin: 0;

  font-size: 27px;
  line-height: 1.1;
  color: $heading-text-color;
  text-align: center;
}

@media (min-width: $tablet-media) {
  .promo {
    background-image: url(../img/picture/hero-tablet@1x.jpg);
    background-size: 1150px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url(../img/picture/hero-tablet@2x.jpg);
    }
  }

  .promo__head {
    width: $tablet-width;
    margin-top: 155px;
    margin-bottom: 375px;
  }

  .promo__head-text {
    font-size: $tablet-heading-size;
    line-height: 1.16;
  }
}

@media (min-width: $desktop-media) {
  .promo {
    background-image: url(../img/picture/hero-desktop@1x.jpg);
    background-position-y: 10px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url(../img/picture/hero-desktop@2x.jpg);
    }
  }

  .promo__head {
    margin-top: 115px;
    margin-bottom: 365px;
  }

  .promo__head-text {
    font-size: 53px;
    line-height: 1.08;;
  }
}
