$mobile-width: 260px;
$desktop-width: 1050px;
$tablet-width: 668px;

$tablet-media: 768px;
$desktop-media: 1150px;

//Fonts
$heading-text-color: #000000;
$main-text-color: #444444;
$heading-text-hover: #707070;
$heading-text-active: #b7b7b7;
$light-color: #ffffff;
$link-hover-color: #46c1ae;

$heading-font-size: 17px;
$main-font-size: 15px;

//Colors
$icon-fill: #d3d2d2;
$icon-fill-hover: #63d1bb;
$icon-fill-active: #d9f4ee;
$promo-odd: #63d1bb;
$promo-even: #56c3b2;
$btn-background: #444444;

//Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
