$mobile-width: 260px;
$desktop-width: 1050px;
$tablet-width: 668px;

$tablet-media: 768px;
$desktop-media: 1150px;

$desktop-fragment: $desktop-width / 6;
$tablet-fragment: $tablet-width / 4;

//Fonts
$heading-text-color: #000000;
$main-text-color: #444444;
$heading-text-hover: #707070;
$heading-text-active: #b7b7b7;
$light-color: #ffffff;
$link-hover-color: #46c1ae;
$form-heading: #63d1bb;

$heading-font-size: 17px;
$main-font-size: 15px;
$tablet-heading-size: 43px;

//Colors
$form-border: #000000;
$icon-fill: #d3d2d2;
$icon-fill-hover: #63d1bb;
$promo-background: #f9f9f9;
$promo-odd: #63d1bb;
$footer-icon: #63d1bb;
$form-checked: #63d1bb;
$promo-even: #56c3b2;
$icon-fill-active: #d9f4ee;
$btn-background: #444444;
$footer-background: #f1f1f1;
$heading-bg-color: #f1f1f1;
$form-input-bg-color: #f1f1f1;
$border-background: #e5e5e5;
$footer-icon-hover: #46c1ae;
$border-color: #ececec;
$body-background: #ffffff;
$form-opacity: rgba(68, 68, 68, 0.3);
$icon-form-fill: #cccccc;
$modal-border-color: rgba(68, 68, 68, 0.3);
$form-order-border: rgba(68, 68, 68, 0.1);
$form-order-border-hover: rgba(68, 68, 68, 0.3);
$form-order-border-active: #62d1ba;
$form-order-submit-color: #63d1bb;


//Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
